html, body {
    height: 100%;
    width: 100%;
    margin: 10px;
  }
  
  body{    
    text-align :center;
    background-color: #f59e0b;
    color : black;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
   
  }
  
  input{
    /* margin-top: 3rem; */
    width: 30vw;
    margin-bottom : 2rem  ;
    border-radius: 10px;
    font-size: large;
    padding:0.75rem;
    
  }
  
  button{
    margin: auto;
    padding: 1rem;
    margin-bottom : 40px;
    display: flex;
    justify-content: center; 
    width: 20vw;
    border-radius: 10px;
    background-color: #e63946;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }
  
  #output-div{
    font-size : 30px;
    color : black;
    font-weight: bolder;
  }